.comment-container {
    margin-bottom: 2em;
}

.comment-box,
.shadow-box {
    background-color: white;
}

.opinion-summary {
    width: 2em;
    height: 2em;
    margin-bottom: 1.25em;
}

.comment-rate-summary {
    float: left;
    margin-right: 2em;
    overflow: hidden;
    text-align: center;
}

.comment-rate-summary-mobile {
    display: none;
}

.comment-box {
    overflow: hidden;
    padding: 2em;
}

.comment-box p {
    float: left;
    width: 80%;
    position: relative;
    top: 1.1em;
}

.not-clicked {
    fill: #aaaaaa;
}

.like-counter {
    color: #aaaaaa;
}

.shadow-box {
    position: relative;
    top: -20px;
    box-shadow: 0 5px 20px gray;
    height: 20px;
    width: 98%;
    margin: 0 auto;
    z-index: -1;
}

.thumbup:hover {
    cursor: pointer;
}

@media (min-resolution: 400dpi), (min-width: 350px) and (max-width: 900px) {

    .comment-container {
        margin: 1em 1em 1em 1em;
    }

    .shadow-box {
        display: none;
    }

    .comment-box p {
        margin-top: 0;
    }

    .comment-rate-summary {
        margin-right: 1em;
    }
}