button {
    border: none;
    width: 33.3vw;
    height: 50vh;
    font-size: 3em;
    font-family: Courier New, Courier, monospace;
    color: white;
}


button:hover {
    background-color: white;
    color: black;
    cursor: pointer;
    transition: background-color 0.1s;
}

.tile-container {
    float: left;
}

/* iPhone X, iPhone 8/+, iPhone 7/+ */
@media (min-resolution: 400dpi), (min-width: 350px) and (max-width: 900px) {

    button {
        border: none;
        width: 100vw;
        height: 75vh;
        font-size: 3em;
        font-family: Courier New, Courier, monospace;
        color: white;
    }
    
    .tile-container {
        float: none;
    }
}