<section id="available-services">
    <div class="services-container">
        <div class="categories container" *ngFor="let service of availableServices">
            <button class="category" (click)="selectService(service)">
                <div style="overflow:hidden;">
                    <img class="thumb" [src]="service.miniImagePath" />
                </div>
                <p class="subtitle hint"> {{ service.description }} </p>
            </button>
        </div>
    </div>
</section>