#available-services {
    overflow: hidden;
    margin-top: 8em;
    float: left;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
}

.category {
    background-color: transparent;
    border: none;
    padding: 45px;
    width: 16vw;
    height: 40vh;
}
