/* You can add global styles to this file, and also import other style files */
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.red {
    background-color: #f97767;
}

.green {
    background-color: #77c94b;
}

.blue {
    background-color: #014e86;
}

.purple {
    background-color: #77144b;
}

.gray {
    background-color: #9896a4;
}

.brown {
    background-color: #b28f67;
}

button.theme-blue,
section.theme-blue {
    background-color: #4fc3f7;
}
button.theme-green,
section.theme-green {
    background-color: #81c784;
}

button.theme-orange,
section.theme-orange {
    background-color: #ffb74d;
}

svg.theme-blue {
    fill: #4fc3f7;
}

svg.theme-green {
    fill: #81c784;
}

svg.theme-orange {
    fill: #ffb74d;
}

.hint {
    color: #929292;
}

.container {
    overflow: hidden;
}

.subtitle {
    margin-top: 3em;
}

.on-background {
    color: white;
}